:root {
   // base
   --font-family: 'Gilroy';
   --content-width: 1290px;
   --container-offset: 15px;
   --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
 
   // colors
   --color-light: #ffffff;
   --color-mercury: #e9e9e9;
   --color-silver: #cacaca;
   --color-dusty: #999999;
   --color-tundora: #4a4a4a;
   --color-green: #008F6B;
   --color-shaft: #020202;
   --color-burning: #019633;
   --color-grenadier: #025e0a;
   --color-tuscany: #bc572b;
   --color-sienna: #f06666;
   --color-red: #ff3030;
   --color-romantic: #ffd4c1;
 }