.goods {
	transform: translateY(-27px);
	padding-bottom: 90px;

  &__title {
	font-family: 'Gilroy';
	font-weight: 600;
	font-size: 35px;
	line-height: 31px;
	color: var(--color-shaft);
	margin-bottom: 30px;
  }

}

.tabs {
	position: relative;
}

.tabs__list {
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: flex;
	align-items: center;
}

.tabs__item {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.tabs__item:last-child {
	left: 38%;
}

.tabs__btn {
	padding: 25px 150px;
	border: none;
	background-color: var(--color-green);
	color: #fff;
	cursor: pointer;
	border-top-left-radius: 8px;
	border-top-right-radius: 40px;
	font-weight: 600;
    font-size: 24px;
    font-family: 'YesevaOne';
    line-height: 14px;
	text-align: center;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	opacity: .6;
	transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, opacity 0.3s ease-in-out;
}



.tabs__btn--active {
	position: absolute;
	z-index: 1;
	background-color: var(--color-burning);
	color: var(--color-light);
	transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, opacity 0.3s ease-in-out;
	pointer-events: none;
	opacity: unset;
}

.tabs__content {
	display: none;
	background-color: #fff;
}

.tabs__content--active {
	display: block;
}

.content {
	padding: 40px;
	padding-top: 100px;
	width: 100%;
}

.content__title {
	margin: 0;
	margin-bottom: 20px;
	font-family: 'Gilroy', sans-serif;
	font-weight: 700;
	font-size: 24px;
	line-height: 28px;
	color: var(--color-shaft);
}

.goods__descr {
	margin: 0;
	margin-bottom: 59px;
	font-weight: 500;
	font-size: 22px;
	line-height: 30px;
	color: var(--color-shaft);
}

.goods__descr > span {
	font-weight: 700;
}

.content__list {
	margin: 0;
	padding: 0;
	list-style-type: none;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 20px;
}

// .content__item {
//   margin-right: 30px;
//   margin-bottom: 30px;
// }

// .content__item:nth-child(5n) {
//   margin-right: 0;
// }

.content__link {
	padding: 14px;
	width: 200px;
	height: 120px;
	display: inline-block;
	border-radius: 4px;
	background-color: #ebecf3;
	background-repeat: no-repeat;
	background-position: right bottom;
}

.content__text {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	color: #a2a6c0;
}

.product {
	position: relative;
	cursor: pointer;
	display: flex;
    flex-direction: column;
	// max-width: 285px;
	height: 100%;
	border: 1px solid #d9d9d9;
	border-radius: 10px;
	padding: 20px;
	padding-top: 9px;
	font-size: 14px;
	background-color: #fff;
	transition: border .3s ease-in-out;
}

// .product__image {
// 	position: relative;
// 	overflow: hidden;
// 	display: block;
// 	height: fit-content;
// }

.product__title {
	margin-bottom: 8px;
	font-weight: 500;
	font-size: 20px;
	line-height: 20px;
	color: var(--color-shaft);
}

.product__props {
	display: flex;
	align-items: center;
	margin-bottom: 8px;
}

.product__rating {
	margin-right: 10px;
	display: inline-flex;
	align-items: center;
	color: var(--color-burning);
	font-weight: 600;
}

.product__rating svg {
	fill: goldenrod;
	margin-right: 8px;
}

.product__testimonials {
	color: var(--color-shaft);
}

.product__descr {
	margin-bottom: 17px;
	font-size: 13px;
	color: var(--color-shaft);
}

.product__term {
	display: block;
	margin-bottom: 7px;
}

.product__available {
	display: block;
}

.product-price__current {
	margin-top: auto;
	font-size: 24px;
	font-weight: 500;
	color: var(--color-shaft)
}

