.header {
  min-height: 100px;
  padding-top: 10px;
  padding-bottom: 10px;

  &__container {
    @include flex-all-sb;
  }

  &--main {
    background-color: var(--color-light)
  }

  &__burger,
  &__burger__svg {
    display: none;
  }

  &__phone {
    position: relative;
    @include flex-v-center;
  }

  &__phone > svg {
    margin-right: 8px;
  }

  &__phone-wrapper {
    @include flex-column;
  }

  &__phone-wrapper > span {
    display: inline-block;
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 500;
  }

  &__phone-wrapper > a {
    font-size: 18px;
    transition: color .3s ease-in-out;
  }
}
