.nav {
  min-width: 450px;

  &__list {
    @include flex-all-sb;
    padding-left: 10px;
  }

  &__link {
    font-family: "Gilroy";
    font-size: 22px;
    line-height: 21px;
    color: var(--color-shaft);
  }
}
