.footer {
  &__link svg > g > path:first-child {
    transition: fill 0.3s ease-in-out;
  }

  &__link:focus {
    outline: none;
  }

  &__link:focus:not(:hover):not(:active) svg > g > path:first-child {
    fill: var(--color-grenadier);
  }

  &__link:hover svg > g > path:first-child {
    fill: var(--color-burning);
  }

  &__link:active svg > g > path:first-child {
    fill: var(--color-grenadier);
  }
}
