.tabs {
  &__btn:focus {
    outline: none;
    background-color: var(--color-grenadier);
  }

  &__btn:hover {
    opacity: 1;
  }
}

.product {
  &-price__current {
    transition: transform 1s ease-in-out, color 0.3s ease-in-out;
  }

  &__title > a {
    transition: color 0.3s ease-in-out;
  }

  &:hover &__title > a {
    color: var(--color-grenadier);
  }

  &:hover &-price__current {
    color: var(--color-grenadier);
    transform: translateX(45%);
  }

  &:hover {
    border-color: var(--color-burning);
  }
}

.content__item:focus {
  outline: 1px solid var(--color-burning);
  border-radius: 10px;
}
