.about {
  position: relative;
  background: linear-gradient(
    180deg,
    #008f6b,
    #009e77,
    #01a27a,
    #04d29f,
    #ffffff
  );
  padding-top: 40px;
  padding-bottom: 120px;
  border-top-right-radius: 250px;

  

  &__title {
    font-family: "Gilroy";
    font-weight: 600;
    font-size: 35px;
    line-height: 31px;
    color: var(--color-light);
    margin-bottom: 30px;
  }

  &__flex {
    display: flex;
  }

  &__descr {
    max-width: 58%;
    font-family: "Gilroy";
    font-weight: 500;
    font-size: 22px;
    line-height: 30px;
    color: var(--color-light);
  }

  &__bg {
    width: 40%;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
  }

  &__img-all {
    filter: drop-shadow(0px 0px 4px greenyellow);
    outline-offset: 15px;
    position: absolute;
    border-radius: 100%;
    @include bg-cover;
  }

  &__img1 {
    outline: 2px inset #85d706;
    top: -4%;
    right: 5%;
    width: 300px;
    height: 300px; 
    background-image: url("../img/about-back1.webp");
    transform: rotate(2deg);
  }

  &__img2 {
    outline: 2px outset #5de16d;
    top: 41%;
    left: 0;
    width: 280px;
    height: 280px;
    background-image: url("../img/about-back2.webp");
  }

  &__img3 {
    outline: 2px inset #39ff08;
    top: 75%;
    right: 5%;
    width: 220px;
    height: 220px;
    background-image: url("../img/about-back3.webp");
  }

  &__list {
    width: 780px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: -42px;
    right: 207px;
  }

  &__item {
    position: relative;
    width: 220px;
    height: 80px;
    padding: 17px;
    padding-top: 23px;
    padding-left: 85px;
    background-color: var(--color-light);
    border-radius: 10px;
    box-shadow: 0px 0px 8px 5px rgba(0, 0, 0, 0.08);
  }

  &__item_pseudo1::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 11px;
    bottom: 0;
    right: 0;
    width: 52px;
    height: 58px;
    background-image: url("../img/about-pseudo1.png");
    @include bg-cover;
    background-size: contain;
  }

  &__item_pseudo2::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 11px;
    bottom: 0;
    right: 0;
    width: 52px;
    height: 58px;
    background-image: url("../img/about-pseudo2.png");
    @include bg-cover;
    background-size: contain;
  }

  &__item_pseudo3::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 11px;
    bottom: 0;
    right: 0;
    width: 52px;
    height: 58px;
    background-image: url("../img/about-pseudo3.png");
    @include bg-cover;
    background-size: contain;
  }
}

.cards {
  &__descr {
    font-size: 17px;
    line-height: 19px;
    font-family: "Gilroy";
  }

  &__descr > span {
    font-size: 36px;
    font-family: "YesevaOne";
    font-weight: 700;
  }
}
