// SHOW-MORE BTN

.btn-center {
	text-align: center;
  transform: translateY(60px);
}

.goods__show {
  border-radius: 15px;
  font-family: "Gilroy";
  font-weight: 700;
  font-size: 21px;
  line-height: 17px;
  padding: 20px 45px;
  color: var(--color-light);
  background-color: var(--color-burning);
}

.unshown {
  display: none;
}

.content__item:nth-child(n + 5) {
	display: none;
}

.content__item.is-visible {
	display: block;
}