.goods {
  transform: translateY(-27px);
  padding-bottom: 90px;

  &__title {
    font-family: "Gilroy";
    font-weight: 600;
    font-size: 35px;
    line-height: 31px;
    color: var(--color-shaft);
    margin-bottom: 30px;
  }
}

// GOODS TABS BTNS

.tabs {
  position: relative;

  &__list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
  }
  
  &__item {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  &__item:last-child {
    left: 38%;
  }
  
  &__btn {
    position: relative;
    padding: 25px 150px;
    border: none;
    background-color: var(--color-green);
    color: #fff;
    cursor: pointer;
    border-top-left-radius: 8px;
    border-top-right-radius: 40px;
    font-weight: 600;
    font-size: 24px;
    font-family: "YesevaOne";
    line-height: 14px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    opacity: 0.6;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out,
      opacity 0.3s ease-in-out;
  }
  
  &__btn-soils::before,
  &__btn-fertil::before {
    content: '';
    position: absolute;
    top: 19%;
    left: 19%;
    width: 40px;
    height: 40px;
    @include bg-cover;
  }
  
  &__btn-soils::before {
    background-image: url('../img/goods-soils.png');
  }
  
  &__btn-fertil::before {
    background-image: url('../img/goods-fertil.png');
  }
  
  &__btn--active {
    position: absolute;
    z-index: 1;
    background-color: var(--color-light);
    color: var(--color-grenadier);
    box-shadow: 4px -4px 3px var(--color-burning);
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, opacity 0.3s ease-in-out;
    border-bottom: 1px solid var(--color-light);
    pointer-events: none;
    opacity: unset;
  }
  
  &__content {
    display: none;
    background-color: #fff;
  }
  
  &__content--active {
    display: block;
  }
}

// GOODS GRID

.content {
  padding: 40px;
  padding-top: 100px;
  width: 100%;

  &__title {
    margin: 0;
    margin-bottom: 20px;
    font-family: "Gilroy", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: var(--color-shaft);
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }

  &__link {
    padding: 14px;
    width: 200px;
    height: 120px;
    display: inline-block;
    border-radius: 4px;
    background-color: #ebecf3;
    background-repeat: no-repeat;
    background-position: right bottom;
  }
  
  &__text {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #a2a6c0;
  }
}

.goods__descr {
  margin: 0;
  margin-bottom: 59px;
  max-width: 94%;
  font-weight: 500;
  font-size: 22px;
  line-height: 30px;
  color: var(--color-shaft);
}

.goods__descr > span {
  font-weight: 700;
}

// GOODS CARDS

.product {
  position: relative;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  // max-width: 285px;
  height: 100%;
  border: 1px solid #d9d9d9;
  border-radius: 10px;
  padding: 20px;
  padding-top: 9px;
  font-size: 14px;
  background-color: #fff;
  transition: border 0.3s ease-in-out, filter 0.3s ease-in-out;

  &__title {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    color: var(--color-shaft);
  }
  
  &__props {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
  }
  
  &__rating {
    margin-right: 10px;
    display: inline-flex;
    align-items: center;
    color: var(--color-burning);
    font-weight: 600;
  }
  
  &__rating svg {
    fill: goldenrod;
    margin-right: 8px;
  }
  
  &__testimonials {
    color: var(--color-shaft);
  }
  
  &__descr {
    margin-bottom: 17px;
    font-size: 13px;
    color: var(--color-shaft);
  }
  
  &__term {
    display: block;
    margin-bottom: 7px;
  }
  
  &__available {
    display: block;
  }
  
  &__price-current {
    margin-top: auto;
    font-size: 24px;
    font-weight: 500;
    color: var(--color-shaft);
    width: 150px;
  }
}

