.header {
  min-height: 100px;
  padding-top: 10px;
  padding-bottom: 10px;

  &__container {
    @include flex-all-sb;
  }

  &--main {
    background-color: var(--color-light)
  }

  &__burger,
  &__burger__svg,
  &__nav__mobile {
    display: none;
  }

  &__phone {
    position: relative;
    @include flex-v-center;
    padding-left: 55px;
  }

  &__phone::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 44px;
    height: 44px;
    background-image: url('../img/phone-call.png');
    @include bg-cover;
  }

  &__phone-wrapper {
    @include flex-column;
  }

  &__phone-wrapper > span {
    display: inline-block;
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 500;
  }

  &__phone-wrapper > a {
    font-size: 18px;
    transition: color .3s ease-in-out;
  }
}

#burger {
  display: none;
}
