.tabs {
  &__btn:focus {
    outline: none;
    // background-color: var(--color-grenadier);
  }

  &__btn:hover {
    opacity: 1;
  }
}

.product {
  &__price-current {
    transition: transform 1s ease-in-out, color 0.3s ease-in-out;
  }

  &__title > a {
    transition: color 0.3s ease-in-out;
  }

  &:hover &__title > a {
    color: var(--color-grenadier);
  }

  &:hover &__price-current {
    color: var(--color-grenadier);
    transform: translateX(calc(8rem - 30px));
  }

  &:hover {
    filter: drop-shadow(2px 4px 6px var(--color-burning));
    // border-color: var(--color-burning);
  }
}

.content__item:focus {
  outline: 1px solid var(--color-burning);
  border-radius: 10px;
}

.goods {
  &__show {
    transition: outline 0.2s ease-in-out, background-color 0.3s ease-in-out, transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }
  
  &__show:focus:not(:active):not(:hover) {
    outline: 2px solid var(--color-burning);
    background-color: var(--color-green);
  }
  
  &__show:hover {
    background-color: var(--color-green);
    transform: translateY(4px);
    box-shadow: 0px 4px 6px var(--color-green);
    outline: transparent;
  }
  
  &__show:active {
    background-color: var(--color-grenadier);
  }
}


